<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/simple.min.css">
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        <label for="usuario">User:</label>
        <input type="text" id="usuario" name="usuario" required><br>
        <label for="senha">Password:</label>
        <input type="password" id="senha" name="senha" required><br>
        <button type="submit">Enter</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>

